/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://KumarKalpat.github.io/iconLib/BusinessSuiteInAppSymbols.ttf') format('truetype'),
		url('https://KumarKalpat.github.io/iconLib/SAP-icons-TNT.ttf') format('truetype'),
		url('https://KumarKalpat.github.io/iconLib/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
